go 1.25.7

use (
	.
	./oauth2
	./oauth2/adapter/alipay
	./oauth2/adapter/douyin
	./oauth2/adapter/qq
	./oauth2/adapter/wechat
	./cache/adapter/redis
	./config/adapter/env
	./config/adapter/http
	./config/adapter/viper
	./crypto
	./database/adapter/mysqldb
	./database/adapter/pgsqldb
	./database/adapter/sqlitedb
	./encrypt
	./httpx/adapter/gin
	./logx/adapter/zap
	./oss/adapter/aliyun
	./queue
	./queue/adapter/mem
	./queue/adapter/rocketmq
	./random
	./session/adapter/redis
	./sms/adapter/aliyun
	./sms/adapter/tencent
	./sms/adapter/uni
	./sms/adapter/volcengine
	./validator
)
